*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navmain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: white;
}

.navmain a{
    font-size: 24px;
    font-weight: bold;
    color: green;
}

.nav2nddiv{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav2nddiv p{
    cursor: pointer;
}

.nav2nddiv button{
    padding: 10px 15px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}



@media screen and (max-width: 1024px){

    .navmain{
        background-color: green;
        color: white;
    }

    .navmain a{
        color: white;
    }

    .nav2nddiv{
        gap: 15px;
    }

    .nav2nddiv button{
        background-color: white;
        color: green;
    }
}


@media screen and (max-width: 768px){

    .navmain{
        flex-direction: column;
        background-color: #32cd32;
        padding: 30px;
    }

    .nav2nddiv{
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
    }

    .nav2nddiv button{
        margin-top: 20px;
    }
}